<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318437872993-02tsk995j37ntm7bf98rcftkgo4mb18n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318437872993-02tsk995j37ntm7bf98rcftkgo4mb18n</string>
	<key>API_KEY</key>
	<string>AIzaSyDK183jp6qHyX9UEeQZzNv-DPFUCzGRPGc</string>
	<key>GCM_SENDER_ID</key>
	<string>318437872993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.TwifreecaTV</string>
	<key>PROJECT_ID</key>
	<string>twifreeca</string>
	<key>STORAGE_BUCKET</key>
	<string>twifreeca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318437872993:ios:f3bc899c33ced4b2</string>
	<key>DATABASE_URL</key>
	<string>https://twifreeca.firebaseio.com</string>
</dict>
</plist>